<%= form_tag bookmarks_path, class: 'modal fade', id: 'add-mark' do %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>添加电影书签</h3>
  </div>
  <div class="modal-body">
    <div class="input-prepend input-append">
      <!--<span class="add-on">http://</span>-->
      <%= text_field_tag 'bookmark[title]' %>
      <%= submit_tag '添加', class: 'btn'%>
	  </div>
    <br/>
    <small>按Enter确认</small>
  </div>
<% end %>