<%= form_tag movies_path, class: 'modal fade', id: 'add-movie' do %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>添加电影到推荐列表</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <%= submit_tag '推荐', class: 'btn btn-primary'%>
  </div>
<% end %>