<article class="module width_3_quarter">
  <header><h3 class="tabs_involved">用户管理</h3></header>
    <div class="tab_container">
      <div id="tab1" class="tab_content">
		    <article class="module width_full">
          <header><h3>修改用户信息</h3></header>
				    <div class="module_content">
            <%= render 'form' %>
        </article><!-- end of edit user information -->        
      </div>
    </div>
</article><!-- end of content manager article -->
